---
layout: default
title: Apps
navigation_weight: 2
---
<div class="container">
  <h2 class="post-list-heading">{{ page.list_title | default: "Apps" }}</h2>
  <ul class="post-list">
    {% for post in site.categories.apps %}
      {% if post.url %}
        <li>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
          </h3>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>